.div_article_title {
    background-color: #543C0B;
    color: white;
    text-align: center;
    border: 1px solid black;
    max-width: 449.5px;
    width: 100%;
    margin-top: 50px;
    font-family: BellotaText_light;
}

header img {
    max-width: 450px;
    width: 100%;
}

.text_subtitle {
    max-width: 450px;
    width: 100%;
    font-family: BellotaText_light;
}

.menu {
    font-family: BellotaText_light;
}

.menu li {
    display: inline;
    float: left;
    max-width: 450px;
    width: 100%;
}